.menu {
    grid-area: menu;
    background: linear-gradient(to right, #232426, #414345);
}

.menu-search {
    color: #aaa;
    margin: 20px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-search i{
    margin-right: 10px;
}

.menu-search input {
    background-color: inherit;
    border: none;
    font-size: 1.3rem;
    color: #ccc;
    outline: 0;
    margin-left: 10px;
}