.stat {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
    border-radius: 8px;
}

.stat-icon {
    font-size: 5rem;
}

.stat-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
}

.stat-title {
    font-size: 1.2rem;
}

.stat-total {
    font-size: 3rem;
}